@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>

<div class="container-fluid" id="about">
    <p>
        During the pandemic lockdown periods, I frequently took to walking the streets and hills of Cork city and was fascinated by its varied and rich architectural buildings. Having been made redundant in 2020 I decided to take up an old hobby of mine again which was photography and capture some of this architectural heritage. I hope you enjoy them.
    </p>
    <p>
        If you have any queries in relation to the displayed photographs, you can find more details
        <a asp-area="" asp-controller="Home" asp-action="Contact">here</a> or by visiting the contact page.
    </p>
</div>
