@{
    ViewData["Title"] = "Contact";
    ViewData["Insta"] = "@davincreativeimages";
}
<h1>@ViewData["Title"]</h1>


<div class="container-fluid" id="contact">
    <br/>
    <h4> Personal </h4>
    <ul>
        <li>
            <i class="fa fa-envelope-o"></i>
            <a href="mailto:johndavin@gmail.com" data-link-type="mailto">johndavin@gmail.com </a>
        </li> 
        <li>
            <br/>
            <i class="fa fa-phone"></i>
            <a href="#">+353 87 926 2373&nbsp;&nbsp;&nbsp;</a>
        </li>
    </ul>
    <br />
    <h4>Social</h4>
    <ul>
        <li>
            <i class="fa fa-instagram"></i>
            <a href="https://www.instagram.com/davincreativeimages/" target="_blank" rel="noopener noreferrer">@ViewData["Insta"]</a>
        </li>
    </ul>
</div>
